<div class="left-panel">
    <% if(@spaces == nil || @spaces.length == 0) %>
        <h4>Add your first space to earn in dollars.</h4>
        <%else %>
            <div class="list-as-row">
                <%= render partial: "listed_space", collection: @spaces, as: :space %>
            </div>
            <%end%>
</div>
<div class="right-panel">
    <div id="form-div">
        <i id="close-icon" class="ionicons ion-android-close"></i>
        <form>
            <fieldset>
                <label class="form-component" for="city">City</label>
                <input type="hidden" name="space[city_id]" id="space[city_id]" />
                <input class="form-control" name="city" type="text" placeholder="City" onfocus="removeErrClass(this)" >
                <label for="home-type" class="form-component">Home type</label>
                <div>
                    <% @home_types.each do |home| %>
                        <label>
                            <input type="radio" name="space[home_id]" value="<%= home.id %>" />
                            <%= home.home_type %>
                        </label>
                        <% end %>
                </div>
                <label for="romm-type" class="form-component">Room type</label>
                <div>
                    <% @room_types.each do |room| %>
                        <label>
                            <input type="radio" name="space[room_id]" value="<%= room.id %>" />
                            <%= room.room_type %>
                        </label>
                        <% end %>
                </div>
                <label class="form-component" for="address">Address</label>
                <input name="space[address]" onfocus="removeErrClass(this)" type="text" placeholder="no., street address, location.">
                <label class="form-component" for="guests-count">How many guest can stay?</label>
                <div>
                    <select id="guests-count" name="space[max_guests_count]"></select>
                </div>
                <label class="form-component" for="beds-count">No of beds.</label>
                <div>
                    <select id="beds-count" name="space[beds_count]"></select>
                </div>
                <label class="form-component" for="bath-rooms-count">How many bathrooms?</label>
                <div>
                    <select id="bath-rooms-count" name="space[bathrooms_count]"></select>
                </div>
                <label class="form-component" for="space[cost_per_day]">Pricing per day</label>
                <input name="space[cost_per_day]" type="text" placeholder="in rupees." onfocus="removeErrClass(this)" >
                <br>
                <div class="submit-form-btn-wrapper">
                    <input data-action="/add_space" type="submit" class="btn btn-primary" value="Submit" onclick="return addSpace(this)" />
                </div>
            </fieldset>
        </form>
    </div>
</div>
<i id="add-space-icon" class="glyphicon glyphicon-plus add-space-icon"></i>
<script>
initListingPage();
</script>